/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Efeito de vidro com brilho */
.bg-glass {
  @apply backdrop-blur-xl bg-glass-bg border border-glass-border;
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.2); /* Fundo translúcido */
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Animação de brilho */
.bg-glass::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 70%);
  animation: shimmer 3s infinite;
  z-index: 1;
}

/* Animação para o brilho */
@keyframes shimmer {
  0% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  100% {
    transform: rotate(360deg) translate(-50%, -50%);
  }
}

@font-face {
  font-family: 'Novecento';
  src: url('../../public/assets/blog/font/Novecento-WideNormal.woff2') format('woff2'),
       url('../../public/assets/blog/font/Novecento-WideNormal.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Holligate';
  src: url('../../public/assets/blog/font/holligate-signature-demo.woff2') format('woff2'),
       url('../../public/assets/blog/font/holligate-signature-demo.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Elegant';
  src: url('../../public/assets/blog/font/ELEGANT.woff2') format('woff2'),
       url('../../public/assets/blog/font/ELEGANT.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Thenat';
  src: url('../../public/assets/blog/font/thenat.woff2') format('woff2'),
       url('../../public/assets/blog/font/thenat.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
/* Reflexo dinâmico */
.bg-glass::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(115deg, transparent, rgba(255, 255, 255, 0.2), transparent); /* Reflexo mais sutil */
  animation: reflection 12s infinite alternate; /* Loop mais suave e lento */
  z-index: 2;
  mix-blend-mode: overlay;
}

/* Animação de reflexo */
@keyframes reflection {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: -100%; /* Volta ao ponto inicial */
  }
}

/* Estilo dos itens de navegação com gradiente */
.gradient-animation {
  background: linear-gradient(90deg, #BFA48E, #D3C2A5, #BFA48E); /* Gradiente em tons de ouro e champagne */
  background-size: 200% 200%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: gradient-text 5s ease-in-out infinite; /* Efeito mais lento e elegante */
  transition: background 0.8s ease-in-out, color 0.8s ease-in-out; /* Transição suave */
  position: relative;
  letter-spacing: 0.5em; /* Espaçamento maior entre letras */
  font-family: 'Elegant', serif; /* Fonte mais sofisticada */
}

/* Animação do gradiente de texto */
@keyframes gradient-text {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Estilo dos links da navegação */
.nav-link {
  position: relative;
  color: transparent; /* Deixa o gradiente visível */
  transition: color 0.6s ease, background 0.6s ease; /* Transições mais suaves */
}

.nav-link.gradient-animation {
  background: linear-gradient(90deg, #BFA48E, #D3C2A5, #BFA48E); /* Tons metálicos */
  background-size: 200% 200%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: gradient-text 5s ease-in-out infinite; /* Animação mais suave e lenta */
}

/* Efeito de sublinhado no hover */
.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px; /* Um sublinhado um pouco mais grosso para mais ênfase */
  background: linear-gradient(90deg, #FFFFFF, #A9A9A9); /* Gradiente de branco para cinza */
  bottom: -6px;
  left: 0;
  transition: width 0.7s ease; /* Transição suave */
}

.nav-item:hover .nav-link {
  color: transparent;
  background: linear-gradient(90deg, #E0E0E0, #F5F5F5, #D3D3D3); /* Gradiente de tons de cinza claro no hover */
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: gradient-text-hover 4s ease-in-out; /* Animação lenta no hover */
  text-shadow: 0 1px 3px rgba(169, 169, 169, 0.5); /* Leve brilho cinza no hover */
}

.nav-item:hover .nav-link::after {
  width: 100%; /* Sublinhado completo no hover */
}

@keyframes gradient-text-hover {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
