/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Classe personalizada para o efeito de vidro com brilho */
.bg-glass {
  @apply backdrop-blur-xl bg-glass-bg border border-glass-border;
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.2); /* Fundo translúcido */
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Animação de brilho */
.bg-glass::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 70%);
  animation: shimmer 3s infinite;
  z-index: 1;
}

/* Animação para o brilho */
@keyframes shimmer {
  0% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  100% {
    transform: rotate(360deg) translate(-50%, -50%);
  }
}

/* Animação de reflexo dinâmico */
.bg-glass::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(115deg, transparent, rgba(255, 255, 255, 0.3), transparent);
  animation: reflection 10s infinite alternate; /* Define o looping contínuo de ida e volta */
  z-index: 2;
  mix-blend-mode: overlay;
}

/* Animação para o reflexo */
@keyframes reflection {
    0% {
      left: -100%;
    }
    50% {
      left: 100%;
    }
    100% {
      left: -100%; /* Reflexo volta ao ponto inicial para criar o looping contínuo */
  }
}

@font-face {
  font-family: 'Novecento';
  src: url('../../public/assets/blog/font/Novecento-WideNormal.woff2') format('woff2'),
       url('../../public/assets/blog/font/Novecento-WideNormal.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Holligate';
  src: url('../../public/assets/blog/font/holligate-signature-demo.woff2') format('woff2'),
       url('../../public/assets/blog/font/holligate-signature-demo.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Elegant';
  src: url('../../public/assets/blog/font/ELEGANT.woff2') format('woff2'),
       url('../../public/assets/blog/font/ELEGANT.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Thenat';
  src: url('../../public/assets/blog/font/thenat.woff2') format('woff2'),
       url('../../public/assets/blog/font/thenat.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@keyframes gradient-text {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient-text {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient-text {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-animation {
  background: linear-gradient(90deg, #252525, #af4261, #252525), #af4261; /* Gradiente de cores */
  background-size: 200% 200%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: gradient-text 3s ease-in-out infinite; /* Efeito contínuo */
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out; /* Transição suave */
  position: relative;
}

.nav-link {
  position: relative;
  transition: color 0.4s ease; /* Transição para a cor */
}

.nav-item:hover .nav-link {
  color: transparent;
  background: linear-gradient(90deg, #f3ec78, #c0bb5e, #f3ec78);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: gradient-text 1.5s ease-in-out; /* Transição rápida ao hover */
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: white;
  bottom: -5px; /* Posição da linha abaixo do texto */
  left: 0;
  transition: width 0.5s ease; /* Transição suave da linha */
}

.nav-item:hover .nav-link::after {
  width: 100%; /* Linha se expande completamente no hover */
}
